.jumbotron {
	text-align: center;
	background-color: darkblue;
	color:white;
}

.panel-default > .panel-heading {
	background-color: #333;
	border-color: #333;
	color: white;
}

.panel-default {
	border-color: #333;
}